backend/workflows/elevenlabs-tts-webhook-fixed.json
{
  "name": "ElevenLabs TTS Webhook - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tts",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "WebhookTrigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "text",
              "value": "={{ $json.text || $json.body?.text || 'Hello world' }}"
            },
            {
              "name": "voice_id",
              "value": "={{ $json.voice_id || $json.body?.voice_id || '21m00Tcm4TlvDq8ikWAM' }}"
            },
            {
              "name": "model_id", 
              "value": "={{ $json.model_id || $json.body?.model_id || 'eleven_multilingual_v3' }}"
            }
          ]
        }
      },
      "id": "SetInputs",
      "name": "Set Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept", 
              "value": "audio/mpeg"
            }
          ]
        },
        "sendQuery": false,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"model_id\": \"{{ $json.model_id }}\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.8,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "id": "HTTPRequestElevenLabs",
      "name": "HTTP → ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "ElevenLabs API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "binaryProperty": "audio",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "Content-Disposition", 
                "value": "inline; filename=\"speech.mp3\""
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "id": "RespondToWebhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "HTTP → ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP → ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}
